// Breakpoints
@mixin breakpointUp($breakpoint) {
  @media only screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin breakpointDown($breakpoint) {
  @media only screen and (max-width: $breakpoint) {
    @content;
  }
}

// Buttons generator
@mixin buttonGenerator($color) {
  $hoverColorIntense: 6%;
  $focusColorIntense: 8%;

  background: $color;

  &:hover {
    background: lighten($color, $hoverColorIntense);
  }

  &:focus {
    background: lighten($color, $focusColorIntense);
  }

  &-ghost {
    color: $color;
    border: 2px solid $color;
    background: transparent;
    transition: all 200ms ease-in-out;

    &:hover {
      color: lighten($color, $hoverColorIntense);
      border: 2px solid lighten($color, $hoverColorIntense);
    }

    &:focus {
      color: lighten($color, $focusColorIntense);
      border: 2px solid lighten($color, $focusColorIntense);
    }
  }
}

// Input generator
@mixin inputGenerator($color) {
  border: 2px solid rgba($color, 0.25);

  &:hover {
    border-color: rgba($color, 0.5);
  }

  &:focus {
    border-color: $color;
  }
}