:root {
  --font-big: #{rem(20)};
  --font-medium: #{rem(16)};
  --font-small: #{rem(12)};
  --font-little: #{rem(10)};
}

@include breakpointUp($md) {
  :root {
    --font-big: #{rem(24)};
    --font-medium: #{rem(20)};
    --font-small: #{rem(16)};
    --font-little: #{rem(12)};
  }
}